{% load static %}
<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Домашня сторінка</title>
    <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kaushan+Script&amp;display=swap">
    <link rel="stylesheet" href="{% static 'assets/fonts/font-awesome.min.css' %}">
</head>

<body id="page-top" data-bs-spy="scroll" data-bs-target="#mainNav" data-bs-offset="54">
    {% include 'header.html' %}


    {% block content %}

    {% endblock %}


    <footer>
        {% for item in niz %}
            <div class="container">
            <div class="row">
                <div class="col-md-4"><span class="copyright">{{ item.name_brand }}</span></div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        <li class="list-inline-item"><a href="{{ item.instagram }}" target="_blank"><i class="fa fa-instagram"></i></a></li>
                        <li class="list-inline-item"><a href="{{ item.facebook }}" target="_blank"><i class="fa fa-facebook"></i></a></li>
                        <li class="list-inline-item"><a href="{{ item.linkedin }}" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        <li class="list-inline-item"><a href="{{ item.privacy_policy }}" target="_blank">Privacy Policy</a></li>
                        <li class="list-inline-item"><a href="{{ item.terms_of_use }}" target="_blank">Terms of Use</a></li>
                    </ul>
                </div>
            </div>
        </div>
        {% endfor %}
    </footer>
    {% for item in portfolio %}
        <div class="modal fade text-center portfolio-modal" role="dialog" tabindex="-1" id="portfolioModal{{ item.position }}">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 mx-auto">
                            <div class="modal-body">
                                <h2 class="text-uppercase">{{ item.name }}</h2>
                                {% if item.photo %}
                                    <p class="text-muted item-intro">{{ item.short_description }}.</p><img class="img-fluid d-block mx-auto" src="{{ item.photo.url}}">
                                {% else %}
                                    <p>No photo available</p>
                                {% endif %}
                                <p>{{ item.description }}</p>
                                <ul class="list-unstyled">
                                    <li>Date: {{ item.date }}</li>
                                    <li>Client: {{ item.client }}</li>
                                    <li>Category: {{ item.category_service }}</li>
                                </ul><button class="btn btn-primary" type="button" data-bs-dismiss="modal"><i class="fa fa-times"></i><span>&nbsp;Close Project</span></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}


    <script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/js/agency.js' %}"></script>
</body>

</html>
